[submodule "cc-lib"]
	path = cc-lib
	url = git@github.com:JoeOsborn/tom7-cc-lib.git
	branch = patches
[submodule "fceulib"]
	path = fceulib
	url = git@github.com:JoeOsborn/tom7-fceulib.git
	branch = master
[submodule "pybind11"]
	path = pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "mypy-data"]
	path = mypy-data
	url = https://github.com/machinalis/mypy-data.git
[submodule "mesen"]
	path = mesen
	url = git@github.com:JoeOsborn/Mesen.git
	branch = mac
[submodule "gym-retro"]
	path = gym-retro
	url = https://github.com/openai/retro.git
